<li>
	ID #: {{id}} {{burger_name}} 
	<button class="change-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">{{#if devoured}}DEVOUR{{else}}NOT FINISHED{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>